.next
out
dist-desktop
release
node_modules
.env
.env.local
.DS_Store
prisma/*.db
prisma/*.db-journal
prisma/backups
prisma/backups/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
